@import 'tailwindcss';
	@media screen and (max-width: 480px) {
		#main-but-real {
			flex-direction: row;
		}
	}
    @media screen and (max-width: 720px) {
		main {
            padding-inline: 10px;
		}
	}
	@media screen and (min-width: 481px) {
		#main-but-real {
			flex-direction: column;
		}
	}
